# Ignore virtual environment
venv/

# Python-specific
*.pyc
__pycache__/

# Flask
instance/

# scikit-learn
scikit_learn_data/

# pandas
*.csv
*.xls
*.xlsx

# NumPy

# Matplotlib

# Ignore compiled Python files
*.pyc
*.pyo
